<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block head %}
    <title>{% block title %}flask_dash{% endblock %}</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap.min.css')}}">
    {% endblock %}
</head>
<body>
    {% block navi %}
    {% endblock %}
    {% block content %}
        {% block footer %}
            &copy; Copyright 2023 by <a href="http://domain.invalid/">website</a>.
        {% endblock %}
    {% endblock %}</div>
    <script src="{{url_for('static', filename='js/bootstrap.bundle.js')}}"></script>
</body>
</html>